.container
  %div{:style => "page-break-after: always;"}
    .row
      .col-xs-2
        = wicked_pdf_image_tag('logo_punjab_gov.png', {:style => "width: 100%;"})
      .col-xs-7{:style => "line-height: 30px;text-align: center;"}
        %h4.line-height-30{:style => "color: black;text-align: center; font-weight:bold;"}
          %strong #{@order.patient.visits.last.medical_unit.id == 65 ? 'The Children Hospital, Lahore' : @order.patient.visits.last.medical_unit.title}
        %p.nopadding.main-head Specialized Healthcare & Medical Education Department
        %h4.color-black.text-center{:style => "text-transform: uppercase;"}
          %div
            %strong Lab Report
            -if @duplicate
              %span (Duplicate Slip)
      .col-xs-3.color-black
        .col-xs-12
        = wicked_pdf_image_tag(@order.patient.qrcode_url, class: "qrcode_img_up")
    %br/
    .row.color-black
      %div.margin-top-minus
        .col-xs-10.name-block
          %h3.color-black.nopadding{:style => "text-transform: uppercase;text-align:left;margin-left:-5px;"}
            %strong #{@order.patient.full_name}, 
            %span{:style => "font-weight:500"} 
              #{@order.patient.age}(s),
              #{@order.patient.gender_first_letter}
        .col-xs-5
          .col-xs-6.nopadding
            %strong Father/Husband:
          .col-xs-6.nopadding{:style => "text-transform: capitalize;"}
            %p #{@order.patient.father_name.present? ? @order.patient.father_name : 'N/A'}
          .col-xs-6.nopadding
            %strong Patient's NIC:
          .col-xs-6.nopadding{:style => "text-transform: capitalize;"}
            %p #{@order.patient.patient_nic.present? ? @order.patient.patient_nic_format : 'N/A'}
          .col-xs-6.nopadding
            %strong Guardian:
          .col-xs-6.nopadding{:style => "text-transform: capitalize;"}
            %p #{@order.patient.guardian_first_name.present? ? @order.patient.guardian_first_name : 'N/A'}, #{@order.patient.guardian_relationship.present? ? @order.patient.guardian_relationship : 'N/A'}
          - if @order.patient.visits.last.current_ref_department
            .col-xs-6.nopadding
              %strong Ward:
            .col-xs-6.nopadding
              %p #{@order.patient.visits.last.current_ref_department}
        .col-xs-5
          .col-xs-3.nopadding
            %strong Contact:
          .col-xs-9.nopadding
            %p #{@order.patient.phone1.present? ? @order.patient.patient_phone1_format : 'N/A'}
          .col-xs-3.nopadding
            %strong Address:
          .col-xs-9.nopadding
            %p #{@order.patient.address1.present? ? @order.patient.address1 : 'N/A'}
          .col-xs-3.nopadding
            %strong City:
          .col-xs-9.nopadding
            %p #{@order.patient.near_by_city.present? ? @order.patient.near_by_city : 'N/A'}
      .col-xs-2.barcode_pos
        %p.margin-left-56.line-height-30{:style => "font-size: 12px;"}   
          %span #{@order.patient.visits.last.created_at.strftime('%d %b %Y %H:%M:%S')}
          =wicked_pdf_image_tag(@order.patient.barcode_url ,:class => "barcode_img")
          %span{:style => "font-size:16px; font-weight:bold;"}  #{@order.patient.patient_mrn_format} 
    %h4.color-black.text-center{:style => "border-top: 2px solid;"}
    -if @duplicate
      %div
      %hr{:style => "height:1px;border:none;color:#333;background-color:#333;"}
        %span (Duplicate Slip)
    - @lab_order_details.each do |lab_order_detail|
      %h4.color-black
        %div
          %strong #{lab_order_detail.test}
      .row.color-black
        .col-xs-12
          %table.table.table-striped.col-xs-3
            %thead
              %tr.panel.panel-default.border_line
                %th.col-xs-4 TEST
                %th.text-center.col-xs-3 RESULT
                %th.text-center.col-xs-2 UNIT
                %th.text-center.col-xs-3 NORMAL VALUES
            %tbody
              - lab_order_detail.lab_result.lab_result_parameters.each do |lab_result|
                %tr
                  %td
                    = lab_result.parameter_title
                  - if lab_result.out_of_range
                    %td.text-center
                      %strong.grey_backgroud 
                        = lab_result.result1
                  -else
                    %td.text-center
                      = lab_result.result1
                  %td.text-center
                    = lab_result.uom
                  %td.text-center
                    = lab_result.range_title

    %br/
    %row
      .col-xs-offset-4.col-xs-5
        %strong.text-center.color-black Electronically #{@lab_order_details.first.status} report.
    %hr{:style => "height:1px;border:none;color:#333;background-color:#333;"}/