%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :javascript
      window.onload = function() {
        window.close();
        var printContents = document.getElementById('printableArea1').innerHTML;
        var popupWin = window.open('', '_blank');
        popupWin.document.open();
        popupWin.document.write('<html><head><link rel="stylesheet" type="text/css" href="/assets/lab_slip.css" /></head><body onload="window.print()">' + printContents + '</body></html>');
        popupWin.document.close();
      }
  %body 

    #printableArea1.hidden-md.hidden-xs.hidden-sm.hidden-lg
      .container
        %div{:style => "page-break-after: always;"}
          .row
            .col-xs-2
              = image_tag('logo_punjab_gov.png', {:style => "width: 100%;"})
            .col-xs-8{:style => "line-height: 30px;text-align: center;"}
              %h3{:style => "color: black;text-align: center; font-weight:bold;"}
                %strong #{@lab_order_details.first.order.patient.visits.last.medical_unit.title} 
              %p.nopadding.main-head Specialized Healthcare & Medical Education Department
              %h4.color-black.text-center{:style => "text-transform: uppercase;"}
                %div
                  %strong Lab Report
                  -if @duplicate
                    %span (Duplicate Slip)
            .col-xs-2.color-black
              .col-xs-12
              = image_tag(@lab_order_details.first.order.patient.qrcode_url, class: "qrcode_img")
              
          %br/
          .row.color-black
            .col-xs-10.name-block
              %h3.color-black.nopadding{:style => "text-transform: uppercase;text-align:left;margin-left:-5px;"}
                %strong #{@lab_order_details.first.order.patient.full_name}, 
                %span{:style => "font-weight:500"} 
                  #{@lab_order_details.first.order.patient.age}(s),
                  #{@lab_order_details.first.order.patient.gender_first_letter}
            .col-xs-5
              .col-xs-4.nopadding
                %strong Father:
              .col-xs-8.nopadding{:style => "text-transform: capitalize;"}
                %p #{@lab_order_details.first.order.patient.father_name.present? ? @lab_order_details.first.order.patient.father_name : 'N/A'}
              .col-xs-4.nopadding
                %strong Father's NIC:
              .col-xs-8.nopadding{:style => "text-transform: capitalize;"}
                %p #{@lab_order_details.first.order.patient.guardian_nic.present? ? @lab_order_details.first.order.patient.guardian_nic_format : 'N/A'}
              .col-xs-4.nopadding
                %strong Guardian:
              .col-xs-8.nopadding{:style => "text-transform: capitalize;"}
                %p #{@lab_order_details.first.order.patient.guardian_first_name.present? ? @lab_order_details.first.order.patient.guardian_first_name : 'N/A'}, #{@lab_order_details.first.order.patient.guardian_relationship.present? ? @lab_order_details.first.order.patient.guardian_relationship : 'N/A'}
              .col-xs-4.nopadding
                %strong Department:
              .col-xs-8.nopadding
                %p #{@lab_order_details.first.order.patient.visits.last.referred_to}
            .col-xs-5
              .col-xs-3.nopadding
                %strong Ward:
              .col-xs-9.nopadding
                %p #{@lab_order_details.first.order.patient.visits.last.current_ref_department? ? @lab_order_details.first.order.patient.visits.last.current_ref_department : 'N/A'}
              .col-xs-3.nopadding
                %strong Address:
              .col-xs-9.nopadding
                %p #{@lab_order_details.first.order.patient.address1.present? ? @lab_order_details.first.order.patient.address1 : 'N/A'}
              .col-xs-3.nopadding
                %strong City:
              .col-xs-9.nopadding
                %p #{@lab_order_details.first.order.patient.near_by_city.present? ? @lab_order_details.first.order.patient.near_by_city : 'N/A'}
              .col-xs-3.nopadding
                %strong Date:
              .col-xs-9.nopadding
                %p #{(@lab_order_details.first.order.created_at + 5.hours).strftime("%d-%m-%Y %H:%M %p")}
            .col-xs-2.barcode_pos
              %p.margin-left-56.line-height-30{:style => "font-size: 18px;"}   
                %span #{@lab_order_details.first.order.patient.visits.last.created_at.strftime('%d %b %Y %H:%M:%S')}
                =image_tag(@lab_order_details.first.order.patient.barcode_url ,:class => "barcode_img")
                %span{:style => "line-height:18px; font-size:24px"}  #{@lab_order_details.first.order.patient.patient_mrn_format}
          %h4.color-black.text-center{:style => "border-top: 2px solid;"}
          -if @duplicate
            %div
            %hr{:style => "height:1px;border:none;color:#333;background-color:#333;"}
              %span (Duplicate Slip)
          - @lab_order_details.each do |lab_order_detail|
            - if lab_order_detail.lab_result.lab_result_parameters.first.present?
              %h4.color-black
                %div
                  %strong #{lab_order_detail.test}
              .row.color-black
                .col-xs-12
                  %table.table.table-striped.col-xs-3
                    %thead
                      %tr.panel.panel-default.border_line
                        %th.col-xs-4 TEST
                        %th.text-center.col-xs-3 RESULT
                        %th.text-center.col-xs-2 UNIT
                        %th.text-center.col-xs-3 NORMAL VALUES
                    %tbody
                      - lab_order_detail.lab_result.lab_result_parameters.each do |lab_result|
                        - if lab_result.result1.present?
                          %tr
                            %td
                              = lab_result.parameter_title
                            - if lab_result.out_of_range
                              %td.text-center
                                %strong.grey_backgroud 
                                  = lab_result.result1
                            -else
                              %td.text-center
                                = lab_result.result1
                            %td.text-center
                              = lab_result.uom
                            %td.text-center
                              = lab_result.range_title

          %br/
          %row
            .col-xs-offset-4.col-xs-5
              %strong.text-center.color-black Electronically #{@lab_order_details.first.status} report.
          %hr{:style => "height:1px;border:none;color:#333;background-color:#333;"}/
                    
         