%link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel: "stylesheet"}
:css
  @font-face {
      font-family: Liberation;
      src: url(LiberationSerif-Regular.ttf);
  }
  @font-face {
      font-family: Liberation-bold;
      src: url(LiberationSerif-bold.ttf);
  }
  @page { size: auto;  margin: 7mm; }



  input[type="checkbox"]{
    width:25px;
    height:25px;
  }
  .qrcode_img_up{
    margin-left: -25px;
    margin-top: -15px;
    width: 80%;
    float:right;
  }
  .qrcode_img_down{
    margin-left: -25px;
    width: 80%;
    float:right;  
  }
  .lab_log {
    width: 100px;
    height: 100px;
  }
  .barcode_img{
    width: 210px;
    height: 30px;
    margin-left: -35px;
    margin-top: -5px
  }
  .qrcode_img{
    margin-left: -25px;
    margin-top: -10px;
    width: 60%;
  }
  .instruction_img{
    width:400px;
  }
  .margin-left-40 {
    margin-left: -40px !important;
  }
  .margin-left-right-30 {
    margin-left: 30px;
    margin-right: 30px;
  }
  .height-70 {
    height: 70px;
  }
  .margin-top-15 {
    margin-top: 15px;
  }
  .line-height-30 {
    line-height: 30px;
  }
  .margin-top-30 {
    margin-top: 30px;
  }
  .underline {
    text-decoration: underline;
  }
  .color-light-black {
    color: #3f3f3f;
  }
  .font-size-18 {
    font-size: 17px;
  }
  .font-size-12 {
    font-size: 12px !important;
  }
  .font-size-14 {
    font-size: 14px !important;
  }
  .padding-top-bottom-5 {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .padding-bottom-10 {
    padding-bottom: 10px;
  }
  .color-black {
    color: black;
  }
  .margin-left-18 {
    margin-left: 18px;
  }
  .margin-left-31 {
    margin-left: -31px !important;
  }

  .grey_backgroud {
      background:#A9A9A9;
  }

  .border_line {
      border: 1px solid #dddddd;
  }
  .nopadding {
     margin-top: -10px !important;
  }
  .margin-top-minus-4 {
     margin-top: -4px !important;
  }
  .main-head{
    font-size:16px;
  }
  .name-block{
    margin:0px 20px;
  }
  .bottom_barcode_pos span,h3{
    text-align:right;
    margin-left:15px;
  }
  .bottom_barcode_pos{
    margin-top:-50px;
  }
  .bottom-name-block{
    padding-left:30px;
  }
  .barcode_pos{
    margin-top:-50px;
  }

  .margin-top-0 {
     margin-top: -0px !important;
     margin-left: -12px !important;
  }
  .margin-top-4 {
     margin-top: 4px !important;
  }
  .padding-left-40 {
    padding-left: 200px !important;
  }
  .margin-left-33 {
    margin-left: 33% !important;
  }
  .margin-left-1 {
    margin-left: 100px !important;
  } 
  .margin-left-56 {
    margin-left: -25px !important;
  }
 
.container
  %div{:style => "page-break-after: always;"}
    - @lab_order_details.each_with_index do |lab_order_detail,index|
      - if lab_order_detail.lab_result.present? && lab_order_detail.lab_result.lab_result_parameters.first.present?
        %h5.color-black
          %div.col-xs-6{:style => "margin-top:2px!important;"}
            %strong #{lab_order_detail.test}
          / %div.col-xs-3{:style => "margin-top:2px!important;"}
          /   %p Price: PKR 10000
          / %div.col-xs-3{:style => "margin-top:2px!important;"}
          /   %p You Paid: PKR 0
        .row.color-black
          .col-xs-12{:style => "margin-top:10px!important;"}
            %table.table.table-striped.col-xs-3.font-size-14
              %tr.panel.panel-default.border_line
                %th.col-xs-4 TEST
                %th.text-center.col-xs-3 RESULT
                %th.text-center.col-xs-2 UNIT
                %th.text-center.col-xs-3 NORMAL VALUES
              %tbody
                - lab_order_detail.lab_result.lab_result_parameters.reverse.each do |lab_result|
                  - if !lab_result.result1.nil?
                    %tr
                      %td
                        = lab_result.parameter_title
                      - if lab_order_detail.lab_investigation.lab_assessments.where(title: lab_result.parameter_title).first.result_type1 == 'text_area'
                        %td.text-center{:style => "width:60%"}
                          = lab_result.result1
                      - else 
                        - if lab_result.out_of_range
                          %td.text-center
                            %strong.grey_backgroud 
                              = lab_result.result1
                        -else
                          %td.text-center
                            = lab_result.result1
                        %td.text-center
                          = lab_result.uom
                        %td.text-center
                          - if lab_order_detail.lab_investigation.lab_assessments.where(title: lab_result.parameter_title).first.result_type1 == 'decimal'
                            = lab_result.range_title
          .row
            -if @users_prepared[index].present?
              .col-xs-6.nopadding{:style => "text-align:center"}
                .col-xs-6{:style => "text-align:center;left:-12px"}
                  %p #{@users_prepared[index].first_name} #{@users_prepared[index].last_name}
            -if @users_verified[index].present?
              .col-xs-6.nopadding{:style => "text-align:center;"}
                .col-xs-6{:style => "text-align:center;left:-12px;float:right"}
                  %p #{@users_verified[index].first_name} #{@users_verified[index].last_name}
          .row
            .col-xs-6.nopadding
              %p.color-black.text-left{:style => "border-top: 1px solid;width:50%"}
              %strong Prepared By
            .col-xs-6.nopadding{:style => "text-align:center"} 
              %p.col-xs-12.color-black{:style => "border-top: 1px solid;width:50%;float:right;"}
              %strong.col-xs-12{:style => "right:-38px;"} Verified By

    / .col-xs-offset-4.col-xs-5
    /   %strong.text-center.color-black Electronically #{@lab_order_details.first.status} report.
    / %hr{:style => "height:1px;border:none;color:#333;background-color:#333;"}/