.container
  %div{:style => "page-break-after: always;"}
    .row
      .col-xs-2
        = wicked_pdf_image_tag('Childrens-Hospital-Lahore-Logo.jpg', class: "lab_log nopadding")
      .col-xs-5.text-center.margin-top-15.line-height-30
        %h3.text-center.color-black
          %strong #{@order.medical_unit.title}
      .col-xs-5.color-black
        .col-xs-5
          %strong.pull-right MRN:
        .col-xs-7
          = wicked_pdf_image_tag("barcode_#{@order.patient.mrn}.png", class: "barcode_img")
        .col-xs-offset-6.col-xs-6.pull-right
          %strong.margin-left-40 #{@order.patient.mrn}
        .col-xs-5.padding-top-bottom-5
          %strong.pull-right Case No.:
        .col-xs-7.padding-top-bottom-5
          = wicked_pdf_image_tag("barcode_#{@order.case_number}.png", class: "barcode_img")
        .col-xs-offset-6.col-xs-6.pull-right
          %strong.margin-left-40 #{@order.case_number}
    %br/
    .row.color-black
      .col-xs-6
        .col-xs-6
          %strong Patient Name:
        .col-xs-6
          %p #{@order.patient.first_name} #{@order.patient.last_name}
        .col-xs-6.nopadding
          %strong Age:
        .col-xs-6.nopadding
          %p #{@patient_age}
        .col-xs-6.nopadding
          %strong Gender:
        .col-xs-6.nopadding{:style => "text-transform: capitalize;"}
          %p #{@order.patient.gender}
        .col-xs-6.nopadding
          %strong NIC:
        .col-xs-6.nopadding
          %p #{@order.patient.patient_nic}
        .col-xs-6.nopadding
          %strong Phone Number:
        .col-xs-6.nopadding
          %p #{@order.patient.phone1}
      .col-xs-6
        .col-xs-5
          %strong Reg. Date:
        .col-xs-7
          %p #{@order.patient.created_at.strftime('%a, %d %b %Y %H:%M:%S')}
        .col-xs-5.nopadding
          %strong Hospital:
        .col-xs-7.nopadding
          %p #{@order.medical_unit.title}
        .col-xs-5.nopadding
          %strong Consultant:
        .col-xs-7.nopadding
          %p #{@order.doctor.first_name} #{@order.doctor.last_name}
    %hr{:style => "height:1px;border:none;color:#333;background-color:#333;"}/
    %h4.color-black
      %div
        %strong Test List
    .row.color-black
      .col-xs-12
        %table.table.table-striped
          %thead
            %tr.panel.panel-default.grey_backgroud.border_line
              %th TEST
              %th INSTRUCTION
              %th.pull-right CHARGES
          %tbody
            - @order.lab_order_details.each do |lab_order_detail|
              %tr
                %td
                  = lab_order_detail.test
                %td
                  = lab_order_detail.instructions
                %td.pull-right.text-right
                  = lab_order_detail.invoice_item.amount
    %hr{:style => "height:1px;border:none;color:#333;background-color:#333;"}/
    .row.color-black
      .col-xs-9.pull-left
        %strong Total Payment
      .col-xs-3.pull-right.text-right
        %strong
          = @order.invoice.total_amount + ' '+ 'Rs'
    .row.color-black
      .col-xs-9.pull-left
        %strong Discount
      .col-xs-3.pull-right.text-right
        %strong
          = @order.invoice.total_discount + ' '+ 'Rs'
    %hr{:style => "height:1px;border:none;color:#333;background-color:#333;"}/
    .row.color-black
      .col-xs-9.pull-left
        %strong Total Payable
      .col-xs-3.pull-right.text-right
        %strong
          = @order.invoice.paid           
