@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
    font-family: Liberation;
    src: url(LiberationSerif-Regular.ttf);
}
@font-face {
    font-family: Liberation-bold;
    src: url(LiberationSerif-bold.ttf);
}
@page { size: auto;  margin: 7mm; }
input[type="checkbox"]{
	width:25px;
	height:25px;
}
.extra-space{
	margin:30px 0px !important
}
.consent_para{
	margin:10px;
	font-size:20px;
}
.custom-row-margin{
	margin-left:5px;
	margin-right:5px;
}
.margin-none{
	margin:10px 0px;
}
.margin-top-minus{
	margin-top:-75px;
}
.margin-top-minus-10{
	margin-top:-10px;
}
.upper-name-block{
	font-family: Liberation-bold;
}
.lab_log {
	width: 130px !important;
	height: 100px  !important;
}
.main-head{
	font-size:18px;
}
.name-block{
	margin:10px 20px;
}
.text-left{
	text-align:left;
}
.barcode_img{
	width: 230px;
	height: 40px;
	padding-right:10px;
}
.bottom_barcode_pos span,h3{
	text-align:right;
	margin-left:15px;
}
.bottom_barcode_pos{
	margin-top:-50px;
}
.bottom-name-block{
	padding-left:30px;
}
.barcode_pos{
	margin-top:-50px;
}
.no-bg-grey-color{
	margin:5px;
}
.bg-grey-color{
	border-bottom:1px solid #9d9d9d;
	font-weight:bold;
}
.barcode_pos .barcode_img{
	width: 100% !important;
	height: 40px;
}
.barcode_pos span,h3{
	text-align:right;
	margin-left:15px;
}
.qrcode_img_up{
	margin-left: -25px;
	margin-top: -35px;
	width: 90%;
	float:right;
}
.qrcode_img_down{
	margin-left: -25px;
	width: 90%;
	float:right;	
}
.qrcode_img{
	margin-left: -25px;
	margin-top: -35px;
	width: 90%;
	float:right;
}
.small_qrcode_img{
	margin-left: -25px;
	margin-top: -10px;
	width: 25%;
}
.instruction_img{
	width:400px;
}
.instruction_big_img{
	width:650px;
}
.margin-left-40 {
	margin-left: -40px !important;
}
.margin-left-56 {
	margin-left: -75px !important;
}
.margin-left-right-30 {
	margin-left: 30px;
	margin-right: 30px;
}
.height-70 {
	height: 70px;
}
.margin-top-15 {
	margin-top: 15px;
}
.line-height-30 {
	line-height: 30px;
}
.line-height-20{
	line-height:20px;
}
.margin-top-30 {
	margin-top: 30px;
}
.underline {
	text-decoration: underline;
}
.color-light-black {
	color: #3f3f3f;
}
.font-size-18 {
	font-size: 17px;
}
.padding-top-bottom-5 {
	padding-bottom: 5px;
	padding-top: 5px;
}
.padding-bottom-10 {
	padding-bottom: 10px;
}
.color-black {
	color: black;
}
.margin-left-18 {
	margin-left: 18px;
}
.margin-left-31 {
	margin-left: -31px !important;
}

.grey_backgroud {
    background:#A9A9A9;
}

.border_line {
    border: 1px solid #dddddd;
}
.nopadding {
   margin-top: -10px !important;
}
.margin-top-minus-4 {
   margin-top: -4px !important;
}
.margin-top-0 {
   margin-top: -0px !important;
   margin-left: -12px !important;
}
.margin-top-4 {
   margin-top: 4px !important;
}
.padding-left-40 {
  padding-left: 200px !important;
}
.margin-left-33 {
  margin-left: 33% !important;
}
.margin-left-1 {
  margin-left: 100px !important;
} 

.font-size-10 {
	font-size: 10px;
}
.margin-left-10{
	margin-left: -10px !important;
 }
 .margin-left-30{
	margin-left: -30px !important;
 }
.margin-left-60{
	margin-left: -60px
}