%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :javascript
      window.onload = function() {
        window.close();
        var printContents = document.getElementById('printableArea1').innerHTML;
        var popupWin = window.open('', '_blank');
        popupWin.document.open();
        popupWin.document.write('<html><head><link rel="stylesheet" type="text/css" href="/assets/print.css" /></head><body onload="window.print()">' + printContents + '</body></html>');
        popupWin.document.close();
      }
  %body

    #printableArea1.hidden-md.hidden-xs.hidden-sm.hidden-lg
      .container
        %div{:style => "page-break-after: always;"}
          .row
            .col-xs-2
              = image_tag('logo_punjab_gov.png', {:style => "width: 100%;"})
            .col-xs-7{:style => "line-height: 30px;text-align: center;"}
              %h3{:style => "color: black;text-align: center; font-weight:bold;"}
                %strong #{@patient.visits.last.medical_unit.title} 
              %p.nopadding.main-head Specialized Healthcare & Medical Education Department
              %h4.color-black.text-center{:style => "text-transform: uppercase;"}
                %div
                  %strong Admission Slip
                  -if @duplicate
                    %span (Duplicate Slip)
            .col-xs-3.color-black
              .col-xs-12
              = image_tag(@patient.qrcode_url, class: "qrcode_img_up")
              / .col-xs-5
              /   %strong.pull-right MRN:
              / .col-xs-7
              /   = image_tag(@patient.barcode_url ,:class => "barcode_img")
              / .col-xs-offset-6.col-xs-6.pull-right
              /   %h4.text-left.margin-left-56 #{@patient.patient_mrn_format}
              
          %br/
          .row.color-black
            %div.margin-top-minus
              .col-xs-10.name-block
                %h3.color-black.nopadding{:style => "text-transform: uppercase;text-align:left;margin-left:-5px;"}
                  %strong #{@patient.full_name}, 
                  %span{:style => "font-weight:500"} 
                    #{@patient.age}(s),
                    #{@patient.gender_first_letter}
              .col-xs-5
                .col-xs-4.nopadding
                  %strong Father/Husband:
                .col-xs-8.nopadding{:style => "text-transform: capitalize;"}
                  %p #{@patient.father_name.present? ? @patient.father_name : 'N/A'}
                .col-xs-4.nopadding
                  %strong Patient's NIC:
                .col-xs-8.nopadding{:style => "text-transform: capitalize;"}
                  %p #{@patient.patient_nic.present? ? @patient.patient_nic_format : 'N/A'}
                - if @patient.visits.last.department.present?
                  .col-xs-4.nopadding
                    %strong Department:
                  .col-xs-8.nopadding
                    %p #{@patient.visits.last.department.title}
                - if @patient.admissions.present?
                  .col-xs-4.nopadding
                    %strong Ward:
                  .col-xs-8.nopadding
                    %p #{@patient.admissions.last.ward.title}
                  .col-xs-4.nopadding
                    %strong Admission No:
                  .col-xs-8.nopadding
                    %p #{@patient_admission.admission_number.present? ? @patient_admission.admission_number : 'N/A'}
                  .col-xs-4.nopadding
                    %strong Admission Date:
                  .col-xs-8.nopadding
                    %p #{@patient_admission.created_at.strftime("%d-%m-%Y %H:%M:%S")}
              .col-xs-5
                .col-xs-3.nopadding
                  %strong Contact:
                .col-xs-9.nopadding
                  %p #{@patient.phone1.present? ? @patient.patient_phone1_format : 'N/A'}
                .col-xs-3.nopadding
                  %strong Address:
                .col-xs-9.nopadding
                  %p #{@patient.address1.present? ? @patient.address1 : 'N/A'}
                .col-xs-3.nopadding
                  %strong City:
                .col-xs-9.nopadding
                  %p #{@patient.near_by_city.present? ? @patient.near_by_city : 'N/A'}
                .col-xs-3.nopadding
                  %strong Visit No:
                .col-xs-9.nopadding
                  %p #{@patient.visits.last.visit_number.present? ? @patient.visits.last.visit_number : 'N/A'}
                .col-xs-3.nopadding
                  %strong Disease:
                .col-xs-9.nopadding
                  %p 
                / .col-xs-3.nopadding
                /   %strong Hospital:
                / .col-xs-9.nopadding
                /   %p #{@patient.visits.last.medical_unit.title}
            .col-xs-2.barcode_pos
              %p.margin-left-56.line-height-30{:style => "font-size: 18px;"}   
                %span #{@patient.visits.last.created_at.strftime('%d %b %Y %H:%M:%S')}
                =image_tag(@patient.barcode_url ,:class => "barcode_img")
                %span{:style => "line-height:18px; font-size:24px; font-weight:bold;"}  #{@patient.patient_mrn_format} 
          
          .row.color-black
            .col-xs-6
              .col-xs-12{:style => "margin:5px 0;"}
                .col-xs-1
                  %strong MLC:
                .col-xs-11
                  %span.mlc_value
                    #{@patient.visits.last.mlc.present? ? @patient.visits.last.policeman_name + ', ' + @patient.visits.last.belt_number + ', ' + @patient.visits.last.police_station_number : 'Nill'}
            .col-xs-6
              .col-xs-12{:style => "margin:5px 0;"}
                .col-xs-1
                  %strong AMB:
                .col-xs-11
                  %span.amb_value 
                  #{@patient.visits.last.ambulance_number.present? ? @patient.visits.last.mode_of_conveyance + ', ' + @patient.visits.last.ambulance_number + ', ' + @patient.visits.last.driver_name : 'Nill'}
          %h4.color-black.text-left{:style => "border-top: 2px dotted;margin:20px 0px; position: relative; z-index:999;"}
          %br/
          .row.color-black
            %h3.col-xs-12.text-left  
              %strong Consent for Treatment 
            %p.col-xs-12.text-left.consent_para
              I, <strong>#{@patient.full_name}</strong>, certify that I am seeking admission to #{@patient.visits.last.medical_unit.title} with full faith in the
              doctors, nursing staff and hospital management. I / My guardians / relatives will not blame or accuse legally
              or otherwise of the treating doctors, nursing personnel or management for anything that may happen contrary
              to my or my guardian / relative's expectations. l / we have selected the doctor and hospital purely on my own
              free will having full faith in Allah Almighty, the professional ability of doctors, staff and management of the
              institution. Facilities required and available are to be assessed by the doctor before admission. #{@patient.visits.last.medical_unit.title} will not have any liability in this regard 
          .row.margin-none
          .row.color-black{:style => "font-size: 20px;"}
            %h3.text-left.col-xs-12
              Next of Kin:
            .col-xs-6
              .col-xs-4
                %strong Name:
              .col-xs-8{:style => "text-transform: capitalize;"}
                %p #{@patient_admission.attendent_name.present? ? @patient_admission.attendent_name : 'N/A'}
              .col-xs-4
                %strong CNIC:
              .col-xs-8{:style => "text-transform: capitalize;"}
                %p #{@patient_admission.attendent_nic.present? ? @patient_admission.attendent_nic : 'N/A'}
              .col-xs-4
                %strong Phone:
              .col-xs-8{:style => "text-transform: capitalize;"}
                %p #{@patient_admission.attendent_mobile.present? ? @patient_admission.attendent_mobile : 'N/A'}  
            .col-xs-6
              .col-xs-4
                %strong Relationship
              .col-xs-8
                %p #{@patient_admission.attendent_relationship.present? ? @patient_admission.attendent_relationship : 'N/A'}
              .col-xs-4
                %strong Address:
              .col-xs-8{:style => "text-transform: capitalize;"}
                %p #{@patient_admission.attendent_address.present? ? @patient_admission.attendent_address : 'N/A'}
          .row.margin-top-15
          .row.color-black
            .col-xs-12
              %p.col-xs-12{:style => "font-size: 125%;"}
                I,<strong> #{@patient_admission.attendent_name}</strong>, agree to all rules and regulations and charges of #{@patient.visits.last.medical_unit.title}
              .div.margin-top-15.clearfix
              .div.margin-top-15.col-xs-offset-6.col-xs-6
                %p.text-left.col-xs-4 <strong> Attendent Signature: </strong>
                %p.color-black.col-xs-8.margin-top-15{:style => "border-bottom: 1px solid;"}
            .row.extra-space.clearfix
            .col-xs-12
              .div.margin-top-15.col-xs-6
                %p.text-left.col-xs-4 <strong>Signature of M.O: </strong>
                %p.color-black.col-xs-8.margin-top-15{:style => "border-bottom: 1px solid;"}
              .clearfix.extra-space
              .div.margin-top-15.col-xs-6
                %p.text-left.col-xs-4 <strong> M.O.I/C: </strong>
                %p.color-black.col-xs-8.margin-top-15{:style => "border-bottom: 1px solid;"}
              .clearfix.extra-space
              .div.margin-top-15.col-xs-6
                %p.text-left.col-xs-4 
                  <strong> Consultant: </strong> <br/>
                  (Advising Admission)
                %p.color-black.col-xs-8.margin-top-15{:style => "border-bottom: 1px solid;"}
              
          / .row.color-black{:style => "z-index:  999; position:  relative;"}
          /   .col-xs-4
          /     .div.col-xs-6
          /       %input#cb{:style => "float: left; margin: 5px", :type => "checkbox"}/
          /       %p.line-height-30 Admit
          /     .div.col-xs-6
          /       %input#cb{:style => "float: left; margin: 5px", :type => "checkbox"}/
          /       %p.line-height-30 Discharge
          /   .col-xs-8
          /     .div.col-xs-offset-3.col-xs-4
          /       %p.color-black.text-left{:style => "border-top: 1px solid;"}
          /       %p.text-left Name of Doctor with Designation
          /     .div.col-xs-offset-1.col-xs-4
          /       %p.color-black.text-left{:style => "border-top: 1px solid;"}
          /       %p.text-left Signature
          / %h4.color-black.text-left{:style => "border-top: 2px dotted;margin:20px 0px; position: relative; z-index:999;"}
          / %br/
