%link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel: "stylesheet"}
:css
  @font-face {
      font-family: Liberation;
      src: url(LiberationSerif-Regular.ttf);
  }
  @font-face {
      font-family: Liberation-bold;
      src: url(LiberationSerif-bold.ttf);
  }
  @page { size: auto;  margin: 7mm; }
  input[type="checkbox"]{
    width:25px;
    height:25px;
  }
  .extra-space{
    margin:30px 0px !important
  }
  .consent_para{
    margin:10px;
    font-size:20px;
  }
  .custom-row-margin{
    margin-left:5px;
    margin-right:5px;
  }
  .margin-none{
    margin:10px 0px;
  }
  .margin-top-minus{
    margin-top:-75px;
  }
  .margin-top-minus-10{
    margin-top:-10px;
  }
  .upper-name-block{
    font-family: Liberation-bold;
  }
  .lab_log {
    width: 130px !important;
    height: 100px  !important;
  }
  .main-head{
    font-size:18px;
  }
  .name-block{
    margin:10px 20px;
  }
  .text-left{
    text-align:left;
  }
  .barcode_img{
    width: 230px;
    height: 40px;
    padding-right:10px;
  }
  .bottom_barcode_pos span,h3{
    text-align:right;
    margin-left:15px;
  }
  .bottom_barcode_pos{
    margin-top:-50px;
  }
  .bottom-name-block{
    padding-left:30px;
  }
  .barcode_pos{
    margin-top:-50px;
  }
  .no-bg-grey-color{
    margin:5px;
  }
  .bg-grey-color{
    border-bottom:1px solid #9d9d9d;
    font-weight:bold;
  }
  .barcode_pos .barcode_img{
    width: 100% !important;
    height: 40px;
  }
  .barcode_pos span,h3{
    text-align:right;
    margin-left:15px;
  }
  .qrcode_img_up{
    margin-left: -25px;
    margin-top: -35px;
    width: 100%;
    heigt: 100%;
    float:right;
  }
  .qrcode_img_down{
    margin-left: -25px;
    width: 110%;
    float:right;  
  }
  .qrcode_img{
    margin-left: -25px;
    margin-top: -35px;
    width: 90%;
    float:right;
  }
  .small_qrcode_img{
    margin-left: -25px;
    margin-top: -10px;
    width: 25%;
  }
  .instruction_img{
    width:400px;
  }
  .instruction_big_img{
    width:650px;
  }
  .margin-left-40 {
    margin-left: -40px !important;
  }
  .margin-left-56 {
    margin-left: -75px !important;
  }
  .margin-left-right-30 {
    margin-left: 30px;
    margin-right: 30px;
  }
  .height-70 {
    height: 70px;
  }
  .margin-top-15 {
    margin-top: 15px;
  }
  .line-height-30 {
    line-height: 30px;
  }
  .line-height-20{
    line-height:20px;
  }
  .margin-top-30 {
    margin-top: 30px;
  }
  .underline {
    text-decoration: underline;
  }
  .color-light-black {
    color: #3f3f3f;
  }
  .font-size-18 {
    font-size: 17px;
  }
  .padding-top-bottom-5 {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .padding-bottom-10 {
    padding-bottom: 10px;
  }
  .color-black {
    color: black;
  }
  .margin-left-18 {
    margin-left: 18px;
  }
  .margin-left-31 {
    margin-left: -31px !important;
  }
  
  .grey_backgroud {
      background:#A9A9A9;
  }
  
  .border_line {
      border: 1px solid #dddddd;
  }
  .nopadding {
     margin-top: -10px !important;
  }
  .margin-top-minus-4 {
     margin-top: -4px !important;
  }
  .margin-top-0 {
     margin-top: -0px !important;
     margin-left: -12px !important;
  }
  .margin-top-4 {
     margin-top: 4px !important;
  }
  .padding-left-40 {
    padding-left: 200px !important;
  }
  .margin-left-33 {
    margin-left: 33% !important;
  }
  .margin-left-1 {
    margin-left: 100px !important;
  } 
  
  .font-size-10 {
    font-size: 10px;
  }
  .margin-left-10{
    margin-left: -10px !important;
   }
   .margin-left-30{
    margin-left: -30px !important;
   }
  .margin-left-60{
    margin-left: -60px
  }
  .bottom-right{
    position: absolute;
    bottom: 10px;
    width: 50%;
    margin-left:39%;
  }

.container
  %div{:style => ""}
    .row
      .col-xs-2
        - if !(@patient.visits.last.medical_unit.parent.present? && @patient.visits.last.medical_unit.parent.title == 'Punjab Hospital Foundation, Lahore')
          = wicked_pdf_image_tag('logo_punjab_gov.png', {:style => "width: 100%;"})
      .col-xs-7{:style => "line-height: 30px;text-align: center;"}
        %h3{:style => "color: black;text-align: center; font-weight:bold"}
          %strong{:style => "font-size:21px"} #{@patient.visits.last.medical_unit.title} 
        - if @patient.visits.last.medical_unit.parent_id != 50
          %p.nopadding.main-head{:style => "font-size:16px"}Specialized Healthcare & Medical Education Department
        %h4.color-black.text-center{:style => "text-transform: uppercase;margin-top:-8px"}
          %div{:style => "font-size:16px"}
            %strong OPD Slip -  #{@patient.visits.last.department.present? ? @patient.visits.last.department.title : ''}
            -if @duplicate
              %span (Duplicate Slip)
      .col-xs-3.color-black
        .col-xs-12{:style => "margin-top:10%"}
        - if !@patient.qrcode_url.nil?
          = wicked_pdf_image_tag(@patient.qrcode_url, class: "qrcode_img_up")
          / .col-xs-5
          /   %strong.pull-right MRN:
          / .col-xs-7
          /   = image_tag(@patient.barcode_url ,:class => "barcode_img")
          / .col-xs-offset-6.col-xs-6.pull-right
          /   %h4.text-left.margin-left-56 #{@patient.patient_mrn_format}
        
    %br/
    - if @patient.qrcode_url.nil?
      %br/ 
      %br/ 
      %br/
    .row.color-black
      %div{:style => "margin-top:-6%"}
        .col-xs-10.name-block
          %h3.color-black.nopadding{:style => "text-transform: capitalize;text-align:left;margin-left:-5px;font-size:21px"}
            %strong #{@patient.full_name}, 
            %span{:style => "font-weight:500;text-transform: lowercase;"} 
              #{@patient.age},
            %span{:style => "font-weight:500;text-transform: uppercase;"}
              #{@patient.gender_first_letter}
        .col-xs-5{:style => "font-size:13px!important"}
          .col-xs-5.nopadding
            %strong Father/Husband:
          .col-xs-7.nopadding{:style => "text-transform: capitalize"}
            %p{:style => "text-transform: capitalize"} #{@patient.father_name.present? ? @patient.father_name : 'N/A'}
          .col-xs-6.nopadding
            %strong Patient's NIC:
          .col-xs-6.nopadding{:style => "text-transform: capitalize;left:-28px"}
            %p{:style => "text-transform: capitalize"}  #{@patient.patient_nic.present? ? @patient.patient_nic : 'N/A'}
          .col-xs-5.nopadding
            %strong Guardian:
          .col-xs-7.nopadding{:style => "text-transform: capitalize;"}
            %p{:style => "text-transform: capitalize"}  #{@patient.guardian_first_name.present? ? @patient.guardian_first_name : 'N/A'}, #{@patient.guardian_relationship.present? ? @patient.guardian_relationship : 'N/A'}
          / - if @patient.visits.last.department.present?
          /   .col-xs-4.nopadding
          /     %strong Department:
          /   .col-xs-8.nopadding
          /     %p <strong> #{@patient.visits.last.department.title} </strong>
          .col-xs-6.nopadding
            %strong Reg. Date:
          .col-xs-6.nopadding{:style => "left:-25px"}
            %p #{@patient.created_at.strftime('%d %b %Y')}
          .col-xs-6.nopadding
            %strong Visit Date:
          .col-xs-6.nopadding{:style => "left:-25px"}
            %p #{@patient.visits.last.created_at.strftime('%d %b %Y')}
          - if @patient.admissions.present?
            .col-xs-4.nopadding
              %strong Ward:
            .col-xs-8.nopadding
              %p #{@patient.admissions.last.ward.title}
        .col-xs-5{:style => "font-size:13px!important"}
          .col-xs-5.nopadding
            %strong Token No:
          .col-xs-7.nopadding{:style => "left:-25px;font-weight:bolder"}
            %p #{@patient.visits.last.visit_number.present? ? @patient.visits.last.visit_number.split('-')[3] : 'N/A'}
          .col-xs-4.nopadding
            %strong Contact:
          .col-xs-8.nopadding
            %p #{@patient.phone1.present? ? @patient.patient_phone1_format : 'N/A'}
          .col-xs-12.nopadding
            %p #{@patient.address1.present? ? @patient.address1 : 'N/A'}
          .col-xs-4.nopadding
            %strong City:
          .col-xs-8.nopadding
            %p #{@patient.near_by_city.present? ? @patient.near_by_city : 'N/A'}
          - if !(@patient.visits.last.doctor_id.blank?)
            .col-xs-4.nopadding
              %strong Doctor:
            .col-xs-8.nopadding
              %p #{@doctor.last.first_name} #{@doctor.last.last_name}
      .col-xs-2.barcode_pos
        %p.margin-left-56.line-height-30{:style => "font-size: 12px;"}   
          %span #{@patient.visits.last.created_at.strftime('%d %b %Y %H:%M:%S')}
          %span{:style => "line-height:18px; font-size:18px; font-weight:bold;"}  #{@patient.patient_mrn_format} 
    
    .row.color-black{:style => "font-size:12px!important"}
      .col-xs-6
        .col-xs-2
          %strong MLC:
        .col-xs-9
          %span.mlc_value
            #{@patient.visits.last.mlc.present? ? @patient.visits.last.policeman_name + ', ' + @patient.visits.last.belt_number + ', ' + @patient.visits.last.police_station_number : 'Nill'}
        .col-xs-12{:style => "padding-top:8px"}
          %p.bg-grey-color Presenting Complaint
          %p{:style => "height:70px"}
        .col-xs-12
          %p.bg-grey-color Examination
          %p{:style => "height:70px"}
        .col-xs-12
          %p.bg-grey-color Treatment
          %p{:style => "height:70px"}
      .col-xs-6
        .col-xs-12{:style => "margin:5px 0;"}
          .col-xs-2
            %strong AMB:
          .col-xs-9
            %span.amb_value 
            #{@patient.visits.last.ambulance_number.present? ? @patient.visits.last.mode_of_conveyance + ', ' + @patient.visits.last.ambulance_number + ', ' + @patient.visits.last.driver_name : 'Nill'}
        .col-xs-12
          %p.bg-grey-color History
          %p{:style => "height:70px"}
        .col-xs-12
          %p.bg-grey-color Provisional Diagnosis
          %p{:style => "height:70px"}
        .col-xs-12
          %p.bg-grey-color Investigations
          %p{:style => "height:70px"}
    .row.color-black{:style => "z-index:  999; position:  relative;"}
      .col-xs-5
        .div.col-xs-6
          %input#cb{:style => "float: left; ", :type => "checkbox"}/
          %p.line-height-30 Admit 
        .div.col-xs-6
          %input#cb{:style => "float: left;", :type => "checkbox"}/
          %p.line-height-30{:style => "float: left;"} Discharge
      .col-xs-7
        .div.col-xs-offset-3.col-xs-4
          %p.color-black.text-left{:style => "border-top: 1px solid;"}
          %p.text-left Name of Doctor with Designation
        .div.col-xs-offset-1.col-xs-4
          %p.color-black.text-left{:style => "border-top: 1px solid;"}
          %p.text-left Signature
    / %h4.color-black.text-left{:style => "border-top: 2px dotted;margin:20px 0px; position: relative; z-index:999;margin-top:50%"}
.row.text-left{style: "border-top: 3px dotted black;height: 390px; position: relative; z-index:999;"}
  .col-xs-6{style: "border-right: 3px dotted black;height: 350px; position: relative; z-index:999;"}
    .col-xs-7
      .row
        %h4.text-left.margin-none{:style => "font-size:16px"} Prescription Slip
        %h2.color-black.nopadding{:style => "text-transform: capitalize;font-size:16px"}
          %p #{@patient.full_name}
      .row
        %h3.color-black.nopadding.text-left{:style => "font-size:15px; uppercase; margin:0px;"}
          %p Father/Husband Name: #{@patient.father_name}
      .row
        %h3.color-black.nopadding.text-left{:style => "font-size:15px; uppercase; margin:0px;"}
          %p Contact: #{@patient.phone1}
      .row
        %h3.color-black.nopadding.text-left{:style => "text-transform: uppercase; margin:0px;font-size:20px"}
          %p #{@patient.patient_mrn_format}
      .row.margin-top-minus-10
        %strong #{@patient.age}, #{@patient.gender.slice(0,1).capitalize}
      .row
        %p #{@patient.visits.last.created_at.strftime("%d-%m-%Y %H:%M:%S")}
    - if !@patient.qrcode_url.nil?
      .col-xs-5
        = wicked_pdf_image_tag(@patient.qrcode_url, class: "qrcode_img_down pull-right")
    - if !@patient.barcode_url.nil?
      .bottom-right
        = wicked_pdf_image_tag(@patient.barcode_url ,:class => "barcode_img pull-right",:style => "line-height:5px;width:98%")
  .col-xs-6{style: "height: 350px; position: relative; z-index:999;"}
    .col-xs-7
      .row
        %h4.text-left.margin-none{:style => "font-size:16px"} Prescription Slip
        %h2.color-black.nopadding{:style => "text-transform: capitalize;font-size:16px"}
          %p #{@patient.full_name}
      .row
        %h3.color-black.nopadding.text-left{:style => "font-size:15px; uppercase; margin:0px;"}
          %p Father/Husband Name: #{@patient.father_name}
      .row
        %h3.color-black.nopadding.text-left{:style => "font-size:15px; uppercase; margin:0px;"}
          %p Contact: #{@patient.phone1}
      .row
        %h3.color-black.nopadding.text-left{:style => "text-transform: uppercase; margin:0px;font-size:20px"}
          %p #{@patient.patient_mrn_format}
      .row.margin-top-minus-10
        %strong #{@patient.age}, #{@patient.gender.slice(0,1).capitalize}
      .row
        %p #{@patient.visits.last.created_at.strftime("%d-%m-%Y %H:%M:%S")}
    - if !@patient.qrcode_url.nil?
      .col-xs-5
        = wicked_pdf_image_tag(@patient.qrcode_url, class: "qrcode_img_down pull-right")
    - if !@patient.barcode_url.nil?
      .bottom-right
        = wicked_pdf_image_tag(@patient.barcode_url ,:class => "barcode_img pull-right",:style => "line-height:5px;width:98%")
