.container
  %div{:style => "page-break-after: always;"}
    .row
      .col-xs-2
        = wicked_pdf_image_tag('logo_punjab_gov.png', class: "lab_log nopadding")
      .col-xs-5.text-center.margin-top-15.line-height-30
        %h4.text-center.color-black.nopadding
          %strong Specialized Healthcare & Medical Education Department
      .col-xs-5.color-black
        .col-xs-5
          %strong.pull-right MRN:
        .col-xs-7
          = wicked_pdf_image_tag(@patient.barcode_url, class: "barcode_img")
        .col-xs-offset-6.col-xs-6.pull-right
          / %strong.text-left.margin-left-40 #{@patient.mrn.insert(-9, '-').insert(-5, '-')}
          %h4.text-left.margin-left-40.margin-top-minus-4 #{@patient.mrn[0,4]}-#{@patient.mrn[4,4]}-#{@patient.mrn[8, 4]}
        .col-xs-5.padding-top-bottom-5
          %strong.pull-right QR Code
        .col-xs-7.padding-top-bottom-5
          = wicked_pdf_image_tag(@patient.qrcode_url, class: "qrcode_img")
    %br/
    .row.color-black
      .col-xs-6
        .col-xs-12
          %h3.color-black.nopadding{:style => "text-transform: uppercase;"}
            %strong #{@patient.first_name} #{@patient.last_name}
        .col-xs-6.nopadding
          %strong Age:
        .col-xs-6.nopadding
          %p #{@patient.age}(s)
        .col-xs-6.nopadding
          %strong Gender:
        .col-xs-6.nopadding{:style => "text-transform: capitalize;"}
          %p #{@patient.gender}
        .col-xs-6.nopadding
          %strong Father Name:
        .col-xs-6.nopadding{:style => "text-transform: capitalize;"}
          %p #{@patient.father_name}
        - if @patient.guardian_nic != nil && @patient.guardian_nic != ''
          .col-xs-6.nopadding
            %strong Father's NIC:
          .col-xs-6.nopadding{:style => "text-transform: capitalize;"}
            %p #{@patient.guardian_nic}
        - if @patient.address1 != nil && @patient.address1 != ''
          .col-xs-6.nopadding
            %strong Address:
          .col-xs-6.nopadding{:style => "text-transform: capitalize;"}
            %p #{@patient.address1}
        - if @patient.phone1 != nil && @patient.phone1 != ''
          .col-xs-6.nopadding
            %strong Phone:
          .col-xs-6.nopadding
            %p #{@patient.phone1}
      .col-xs-6
        .col-xs-4
          %strong Reg. Date:
        .col-xs-8
          %p #{@patient.visits.last.created_at.strftime('%a, %d %b %Y %H:%M:%S')}
        .col-xs-4.nopadding
          %strong Hospital:
        .col-xs-8.nopadding
          %p The Children's Hospital & The Institute Of Child Health, Lahore
        - if @patient.visits.last.current_ref_department
          .col-xs-4.nopadding
            %strong Ward:
          .col-xs-8.nopadding
            %p #{@patient.visits.last.current_ref_department}
    %hr{:style => "height:1px;border:none;color:#333;background-color:#333;"}/
    %h4.color-black.text-center
      %div
        %strong #{@patient.visits.last.current_referred_to} Slip

  %div{:style => "page-break-after: always;"}
    .row
      .col-xs-2
        = wicked_pdf_image_tag('logo_punjab_gov.png', class: "lab_log nopadding")
      .col-xs-5.text-center.margin-top-15.line-height-30
        %h4.text-center.color-black.nopadding
          %strong Specialized Healthcare & Medical Education Department
      .col-xs-5.color-black
        .col-xs-5
          %strong.pull-right MRN:
        .col-xs-7
          = wicked_pdf_image_tag(@patient.barcode_url, class: "barcode_img")
        .col-xs-offset-6.col-xs-6.pull-right
          %h4.text-left.margin-left-40.margin-top-minus-4  #{@patient.mrn[0,4]}-#{@patient.mrn[4,4]}-#{@patient.mrn[8, 4]}
        .col-xs-5.padding-top-bottom-5
          %strong.pull-right QR Code
        .col-xs-7.padding-top-bottom-5
          = wicked_pdf_image_tag(@patient.qrcode_url, class: "qrcode_img")
    %br/
    .row.color-black
      .col-xs-6
        .col-xs-12
          %h3.color-black.nopadding{:style => "text-transform: uppercase;"}
            %strong #{@patient.first_name} #{@patient.last_name}
        .col-xs-6.nopadding
          %strong Age:
        .col-xs-6.nopadding
          %p #{@patient.age}(s)
        .col-xs-6.nopadding
          %strong Gender:
        .col-xs-6.nopadding{:style => "text-transform: capitalize;"}
          %p #{@patient.gender}
        .col-xs-6.nopadding
          %strong Father Name:
        .col-xs-6.nopadding{:style => "text-transform: capitalize;"}
          %p #{@patient.father_name}
        - if @patient.guardian_nic != nil && @patient.guardian_nic != ''
          .col-xs-6.nopadding
            %strong Father's NIC:
          .col-xs-6.nopadding
            %p #{@patient.guardian_nic}
        - if @patient.address1 != nil && @patient.address1 != ''
          .col-xs-6.nopadding
            %strong Address:
          .col-xs-6.nopadding{:style => "text-transform: capitalize;"}
            %p #{@patient.address1}
        - if @patient.phone1 != nil && @patient.phone1 != ''
          .col-xs-6.nopadding
            %strong Phone:
          .col-xs-6.nopadding
            %p #{@patient.phone1}
      .col-xs-6
        .col-xs-4
          %strong Reg. Date:
        .col-xs-8
          %p #{@patient.visits.last.created_at.strftime('%a, %d %b %Y %H:%M:%S')}
        .col-xs-4.nopadding
          %strong Hospital:
        .col-xs-8.nopadding
          %p The Children's Hospital & The Institute Of Child Health, Lahore
        - if @patient.visits.last.current_ref_department
          .col-xs-5.nopadding
            %strong Ward:
          .col-xs-7.nopadding
            %p #{@patient.visits.last.current_ref_department}
    %hr{:style => "height:1px;border:none;color:#333;background-color:#333;"}/
    .row.color-black.pull-right
      = wicked_pdf_image_tag("childern_hospital_note.png", class: "instruction_img")